:root {
  --primary-color: #064f80; /* Primary color */
  --secondary-color: #ffd21d; /* Secondary color */
  --accent-color: #e74c3c; /* Accent color */
  --background-color: #ffffff; /* Background color */
  --text-color: #ffffff; /* Text color */
  --text-color-2: #000000; /* Text color */
}

/* Using the global colors */
body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}



.button {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.button:hover {
  background-color: var(--secondary-color);
}
