.header{
  background-color: var( --primary-color);
  display: flex;
  font-weight: 700;
  color: var(--text -color);
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.header_info{
  color: var(--text-color-2);
  margin: auto;
  align-items: center;
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}

.col1{
  width: 98%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  height: 100%;
}
/* Quick Links panel ...  */
.quick-links-panel {
  top: 0;
  left: 0;
  background-color: var(--primary-color); /* Teal background */
  color: white;
  padding: 5px;
  padding-bottom: 0px;
  align-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  font-weight:600;
  height: 100%;
}

.quick-links-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quick-links-panel li {
  display: flex;
  margin-right: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2px;
}

.quick-links-panel a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid white;
  outline: none;
}

.quick-links-panel a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-2)
}

/* Panel 2 */

.panel2{
  background-color: rgb(232, 232, 232);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel2-1{
  display: grid;
  grid-template-columns: 20% 40% 38%;
  justify-content: center;
  grid-gap: 5px;
  height: 100%;
  padding: 5px;
}


/* Scrollling Text */
.ticker-wrap {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  padding: 10px;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  padding-left: 0; /* Start from the left */
  animation: ticker 80s linear infinite;
}

.ticker span {
  color: var(--text-color);
}

.highlight {
  color: var(--secondary-color) !important; 
  font-weight: bold;
}

.ticker a {
  text-decoration: none;
  color: inherit;
}

@keyframes ticker {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.ticker-wrap:hover .ticker {
  animation-play-state: paused; /* Pause animation on hover */
}

/* Expore future - (First panel) and other elements */
.element{
  background-color: var(--secondary-color);
  background-color: azure;
  padding: 5px;
  margin: 2px;
  color: var(--text-color-2);
  border-radius: 5px;
}

/* Explore Future */

.explore_future {
  background-color: var(--secondary-color); /* Use a primary color for the background */
  color: var(--text-color-2); /* Use a contrasting text color */
  padding: 20px;
  text-align: center;
  border-radius: 10px; /* Add a rounded corner effect */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Add a subtle shadow */
}

.explore_future p {
  font-size: 18px;
  margin-bottom: 20px;
}

.explore-btn {
  background-color: var(--primary-color); /* Use a secondary color for the button */
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.explore-btn:hover {
  background-color: var(--accent-color); /* Change to an accent color on hover */
}
